In [1]:
import os
import pandas as pd
import sys
from Config.Run_Config import Run_Config
from GA_pyGAD.GA import Individual
# class Solution():
from abz5 import Dataset
dataset = Dataset()

In [2]:
dataset.name

'abz5'

In [3]:
import numpy as np
m_dict = dataset.m_dict
m_dict[0] 

# m_dict[0][0] = 8
# 0번째 machine의 경우, Job1의 등장 순서는 9번째라는 뜻

[8, 6, 2, 7, 4, 9, 4, 7, 0, 1]

In [4]:
m_dict = np.array(m_dict)
# m_dict = [machine 번호, Job 번호, (Job & Order)]
m30 = np.where(m_dict[3,:] == 0)
m30 # M4를 1번째로 쓰는 Job들은 (4, 9), 즉 Job5와 Job10임

(array([4, 9], dtype=int64),)

In [11]:
m20 = np.where(m_dict[2,:]==0)
m20

(array([], dtype=int64),)

In [15]:
type(m20[0].tolist())

list

In [6]:
k = 'M0'
k[1:]

'0'

In [16]:
# 초기화할 2차원 딕셔너리
result_dict = {'M'+str(i) : {} for i in range(dataset.n_machine)}

# 각 딕셔너리에 대해 0부터 9까지의 키를 가지는 딕셔너리를 빈 리스트로 초기화
for key1 in result_dict:
    result_dict[key1] = {str(i): np.where(m_dict[int(key1[1:]),:] == i)[0].tolist() for i in range(10)}

In [21]:
result_dict['M0']

{'0': [8],
 '1': [9],
 '2': [2],
 '3': [],
 '4': [4, 6],
 '5': [],
 '6': [1],
 '7': [3, 7],
 '8': [0],
 '9': [5]}

In [26]:
def multiply_nonzero_elements_dict(dct):
    lst = [len(dct[key]) for key in dct]
    result = multiply_nonzero_elements(lst)
    return result

def multiply_nonzero_elements(lst):
    result = 1
    for element in lst:
        if element != 0:
            result *= element
    return result

num = []
for i in range(10):
    num.append(multiply_nonzero_elements_dict(result_dict['M'+str(i)]))
    print(multiply_nonzero_elements_dict(result_dict['M'+str(i)]))
print()
print(multiply_nonzero_elements(num))

4
6
4
8
16
6
8
12
16
4

452984832

In [27]:
import random
mio = []
for key in result_dict['M0']:
    num = len(result_dict['M0'][key])
    if num == 0 :
        pass
    elif num == 1:
        mio += result_dict['M0'][key]
    else:
        random.shuffle( result_dict['M0'][key])
        mio +=  result_dict['M0'][key]
mio

[8, 9, 2, 6, 4, 1, 7, 3, 0, 5]

In [ ]:
# 처음부터 08, 19, 22, 44, 46, ... 이런식으로 정보를 저장할까? 그렇게 하면 나중에 mio로부터 individual을 생성하는 게 쉬울지도 모름.
# 일단은 이 방식이 효과적인걸 증명하는게 먼저인 것 같다.